@layer base {
	@font-face {
		font-family: 'Wavehaus Bold';
		src: url('/fonts/wavehaus/Wavehaus-128Bold.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Wavehaus SemiBold';
		src: url('/fonts/wavehaus/Wavehaus-95SemiBold.otf') format("opentype");
		font-weight: normal;
		font-display: swap;
	}
}